
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Broadcasting admin</title>
    <meta name="description" content="A cool thing made with Glitch">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/wingcss"/>
    <link rel="stylesheet" href="/style.css">
    <link rel="shortcut icon" type="image/x-icon" href="https://cdn.glitch.com/f02000d1-0802-433c-9f94-0c817a900244%2Fmovie-camera_1f3a5.png?1534519907956" />

    <!-- import the webpage's client-side javascript file -->
  </head>
  <body>
    <textarea placeholder="Enter Markdown ⌨️" oninput="change()" type="text" id="input" autofocus></textarea>
      <div id="left" style="max-width:1000px">
      </div>
    <button id="heart" onclick="socket.emit('emoji', {'element':'heart', 'color': getRandomColor()})">
      ❤️
    </button>
    <button id="up" onclick="socket.emit('emoji', {'element':'up', 'color': getRandomColor()})">
      👍
    </button>
    <button id="open" onclick="socket.emit('emoji', {'element':'open', 'color': getRandomColor()})">
      😮
    </button>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.8.6/showdown.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/fitty.min.js"></script>
    <script src="/client.js" defer></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-57856524-25"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-57856524-25');
    </script>

  </body>
</html>
